---
name: {{ROLE_NAME}}
description: {{ROLE_DESCRIPTION}}
---

# {{ROLE_NAME}}

## Purpose
{{PURPOSE}}
## Allowed scope
{{SCOPE}}
## Denied scope
{{DENIED_SCOPE}}
## Inputs
{{INPUTS}}
## Outputs
{{OUTPUTS}}
## Validation ownership
{{VALIDATION_OWNERSHIP}}
## Escalation conditions
{{ESCALATION_CONDITIONS}}
## Capability requirements
{{CAPABILITY_REQUIREMENTS}}
